@import "@/styles/mixins";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  cursor: pointer;
}

.textareaInput {
  color: rgb(60, 60, 60);
  border-width: 1px;
  background-color: #e7f5ff;

  &[disabled] {
    opacity: 0.9;
    border-width: 0px;

    color: black;
    cursor: text;
    background-color: #f1f3f599;
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .textareaWrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;

    & > div {
      font-weight: 700;
    }
  }
}
