@import "@/styles/variables";

.card {
  display: flex;
  justify-content: space-between;
  color: inherit;
  background-size: contain;
  // padding-left: 84px;
  border: 1px solid #dee2e6;

  &:hover {
    box-shadow: $hoverShadow;
  }
}
