@import "@/styles/mixins";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include size-below("md") {
    flex-direction: column;
    gap: 16px;
  }
}

.left {
  display: flex;
  gap: 6px;
  align-items: center;

  @include size-below("md") {
    flex-direction: column;
    gap: 10px;
  }
}

.score {
  display: flex;
  gap: 6px;
  align-items: center;

  @include size-below("sm") {
    flex-direction: column;
    gap: 10px;
  }
}

.title {
  text-align: center;
}

.adders {
  display: flex;
  gap: 4px;
  margin: 0 5px 0 10px;
  align-items: center;

  @include size-below("sm") {
    margin: auto;
  }

  .subScore {
    display: flex;
    gap: 4px;
    align-items: center;

    svg {
      stroke: #505050;
    }

    &:after {
      content: " + ";
    }

    &:last-of-type:after {
      content: " = ";
    }
  }
}

.input {
  width: 60px;
  text-align: center;
  color: rgb(60, 60, 60);
  &[disabled] {
    opacity: 0.9;
    color: black;
    cursor: text;
    border: 0.0625rem solid #ced4da99;
    background-color: #f1f3f599;
  }
}

.result {
  font-weight: 600;
  font-size: 1.2rem;
}
