@import "@/styles/mixins";
@import "@/styles/variables";

.container {
  color: inherit;

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .evaluationWrapper {
    margin: 10px 0 15px;
    display: flex;
    gap: 4px;

    .evaluation {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 4px;

      svg {
        stroke: #505050;
      }

      > div {
        font-weight: 600;
      }
    }

    .textEvaluation {
      margin-left: 10px;
      font-style: italic;
    }
  }

  .reply {
    .header {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 10px;

      @include size-below("sm") {
        flex-direction: column;
        align-items: flex-start;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 6px 8px;
        background-color: rgb(237, 237, 237);
        width: fit-content;
        border-radius: 4px;
      }
    }
    .replyText {
      margin-left: 28px;
      margin-top: 6px;
    }
  }
}

.textareaInput {
  color: rgb(60, 60, 60);
  &[disabled] {
    opacity: 0.9;
    color: black;
    cursor: text;
    border: 0.0625rem solid #ced4da99;
    background-color: #f1f3f599;
  }
}
