@import "@/styles/variables";
@import "@/styles/mixins";

.container {
  display: flex;
  justify-content: space-between;
  color: inherit;
  border: 1px solid #1c2441;
  border-radius: 0px;
  padding: 16px 24px;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(17, 23, 44, 0.4);
    opacity: 0;
    -webkit-transition: opacity 170ms ease-out;
    transition: opacity 170ms ease-out;
  }

  &:hover {
    box-shadow: $hoverShadow;
    &:before {
      opacity: 0.2;
    }
  }

  .leftInfo {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    .weekNumber {
      font-weight: 700;
    }
  }

  .rightInfo {
    display: flex;
    align-items: center;
    gap: 8px;

    .chevron {
      position: relative;
      left: 0;
      opacity: 0.5;
      color: inherit;
      transform: scale(1);
      transition: 0.2s ease-out;
      margin-left: 10px;
    }
  }
}

@include size-below("sm") {
  .calendarIcon {
    display: none;
  }
}

.isLoggedTeacher {
  color: #2196f3;
}

.container:hover {
  box-shadow: $hoverShadow;

  .rightInfo .chevron {
    left: 5px;
    opacity: 1;
    transform: scale(1.2);
  }
}
