@import "@/styles/variables";
@import "@/styles/mixins";

.container {
  display: flex;
  justify-content: space-between;
  color: inherit;

  @include size-below("sm") {
    flex-direction: column;
  }

  &:hover {
    box-shadow: $hoverShadow;
  }

  .leftInfo {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .rightInfo {
    display: flex;
    align-items: center;
    gap: 8px;

    .chevron {
      position: relative;
      left: 0;
      opacity: 0.5;
      color: inherit;
      transform: scale(1);
      transition: 0.2s ease-out;
    }
  }
}

@include size-below("sm") {
  .userImage {
    display: none;
  }
}

.container:hover {
  box-shadow: $hoverShadow;

  .rightInfo .chevron {
    left: 5px;
    opacity: 1;
    transform: scale(1.2);
  }
}
